* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jetbrains', monospace;
    color: antiquewhite;
    background-color: #060709;
} 

html, body {
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 2.5vw;
}

h3 {
    font-size: 2vw;
}



nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 3% 4%;
    z-index: 1;
}


nav, a {
    /* font-family: 'Gabarito', sans-serif; */
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
    mix-blend-mode: difference;
    font-size: 3.5vw;
    top: 3%;
    left: 1%;
    right:1%;    
}

.logo-home {
background-color: transparent;
}

nav, a:hover {
    transition: all .5s ease;
    font-size: 4vw;
    color: rgb(91, 170, 94);
}

nav,a:not(:hover) {
    transition: all .5s ease;
}


.logo-sm {
    font-size: 3vw;
    display: none;
    background-color: transparent;
    position: fixed;
    padding: 3% 4%;
}

.logo-sml {
    background-color: transparent;
}


.menu {
    text-align: end; 
    display: flex;  
    flex-direction: column;
    flex-direction: flex-end;
    background-color: transparent;
}


.intro {
    height: 100vh;
    padding: 30% 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    padding: 30vh 10vw 0 10vh;
    max-width: 95vw;

}


.blurb, p {
    font-size: 1.8vw;
}

.blurb {
    padding-right: 5vw;
}

.aboutMeImg {
    width: 20vw;
    border-radius: 20vh;
    box-shadow: 2px 2px 50px rgb(245, 222, 178, 0.2);
}

.selectedWork {
    height: 100vh;
    background-color: transparent;
}

.carousel {
    position: relative;
    padding-top: 30vh;
    padding-bottom: 15vh;
    height: 100vh;
    width: 80%;
    margin: 0 auto; 
    background: transparent;
}

.carousel_img {
    width: 100%;
    height: 100%;
    border-radius: 2vw;
    padding: 0 5vw;
    object-fit: cover;

}

.carousel_track-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: transparent;

}

.carousel_track {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: transparent;
    transition: transform 250ms ease-in;
}

.carousel_slide {
    position:absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
}

.carousel_button {
    position: absolute;
    /* background-color: chartreuse; */
    height: 200px;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.carousel_button img {
    color: antiquewhite;
    background: transparent;
    filter: invert(70%);
    width: 5vw;

}

.carousel_button--left {
    left: -5vw;
}

.carousel_button--right {
    right: -5vw;
}

.carousel_nav {
    background: rgb(204, 202, 206);
    display: flex;
    justify-content: center;
    padding: 1.5vw 0;
    background: transparent;

}

.carousel.current-slide {
    background-color: transparent;
}

.carousel_indicator {
    border: 0;
    border-radius: 50vw;
    width: 1vw;
    height: 1vw;
    background: rgba(240, 128, 128, 0.3);
    margin: 0 1.5vw;
    cursor: pointer;
}

.carousel_indicator.current-slide {
background-color: rgba(240, 128, 128, 0.8);

} 

.close-button {
    cursor: pointer;
}

.is-hidden {
    display: none;
}

.slider-size {
    margin: 0 25%;
    height: 100%;

}

/* .overlay {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #1a1c1f;
} */

.callMe {
    display: flex;
    flex-direction: column;
}

.callMeMaybe {
    margin-top: 4vw;
    margin-bottom: 4vw;
    color: rgb(72, 108, 65);
    font-size: 1.5vw;
    font-weight: 600;
    padding: 1.4vh;
    border-radius: .8vw;
    cursor: pointer;

}

.callMeMaybe:hover {
    background-color: rgba(74, 102, 60, 0.8);
    color: antiquewhite;
    transition: all 0.25s;
    
}

form {
    background-color: #1a1c1f;
    position: fixed;
    border-radius: 10px;
    z-index: 1;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    overflow: auto;
    font-size: 2.2vw;
    padding: 2%;
    box-shadow: .2vw .2vw 80vw rgba(148, 152, 178, 0.25);
    border: solid 0.3vw rgb(72, 108, 65, 0.4);
}

.contactTitle {
    padding-bottom: 3vw;
    font-size: 2.5vw;
    
}

input, textarea {
    border: none;
    top: 15%;
    /* margin: auto; */
    margin-top: 1vh;
    margin-bottom: 3vh;
    padding: 0.8vw 0.8vw;
    background-color: rgba(255, 255, 255, 0.183);
    border-radius: 0.5vw;
    width: 90%;
}

input, textarea, ::placeholder {
    font-size: 1.3vw;

}


#fullName #email #enquiry {
    padding-top: 10px;
}

button.submit {
    margin-top: 1vh;
    padding: 1vh 1.4vw;
    border-radius: .8vh;
    font-size: 2vw;
    font-weight: 600;
    background-color: #1a1c1f;
    color: rgba(51, 115, 2, 0.83);
    cursor: pointer;
}

.close-button{
    position: absolute;
    top: 5%;
    right: 5%;
    border: none;
}

button.submit:hover{
    background-color: rgba(74, 102, 60, 0.8);
    color: antiquewhite;
    transition: all 0.25s;
}
.contactTitle, .fullName, .email, .enquiry {
    background-color: #1a1c1f;
}

.submit-error {
    font-size: 1.3vw;
    background-color: #1a1c1f;
    color: rgb(167, 67, 67);
    padding-bottom: 2vh;
}

footer {
    padding: 80px 10%;
}

@media screen and (max-width: 850px) {
 a.logo-home {
   visibility: hidden;
 }
 a.logo-sm {
   display: block;
   transition: 1s;
 }

.about {
    flex-direction: column-reverse;
    align-content: center;
}

.aboutMeImg {
    width: 30vw;
    transition: 1s;
    margin-bottom: 4vw;
}

/* .blurb {
    padding-top: 3vw;
} */

.blurb, p {
    font-size: 2vw;
}

}

