* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jetbrains', monospace;
    color: antiquewhite;
    background-color: #060709;
} 


h1 {
    font-size: 2.5vw;
}

h5 {
    font-size: 1.8vw;
}


nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 3% 4%;
}

.logo-home{
    mix-blend-mode: difference;
    background-color: transparent;
}

nav, a {
    font-weight: 500;
    text-decoration: none;
    font-size: 3.5vw;
    top: 3%;
    left: 1%;
    right:1%;
    background-color: transparent;
}

.menu {
    text-align: end; 
    display: flex;  
    flex-direction: column;
    flex-direction: flex-end;
    text-decoration: none;
    background-color: transparent;
}


.intro {
    height: 100vh;
    padding: 30% 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.about {
    display: flex;
    align-items: center;
    padding: 10vw;
    max-width: 95vw;

}


.about, p {
    padding-right: 5vw;
    font-size: 1.8vw;
}

.aboutMeImg {
    width: 20vw;
    border-radius: 20vh;
    box-shadow: 2px 2px 50px rgb(245, 222, 178, 0.2);
}

.selectedWork {
    height: 100vh;
}

form {
    font-size: 2.2vw;
    padding-top: 15vh;
    padding-left: 10%;
    width: 75vw;
}

input, textarea {
    border: none;
    padding: 0.8vw 0.4vw;
    background-color: rgba(255, 255, 255, 0.183);
    border-radius: 0.5vw;
    width: 100%;
}

.fullName .email .enquiry {
    padding-top: 40px;
}

.sumbit {
    background-color: white;
    width: 1vw;
}

footer {
    padding: 80px 10%;
}

/* @media screen and () {
    
} */